# =========================
# Dataset configuration
# =========================
dataset:
  name: "CoCaHis"
  path: ${paths.data_dir}/CoCaHis.hdf5
  image_type: "raw"             # One of ["raw", "sn1", "sn2"]
  train_transform: null         # Replace with serialized transform
  val_transform: null           # Replace with serialized transform
  tile_size: 512                # Tile size (if tiling is requested)
  overlap: 64                   # Overlap between tiles
  val_fraction: 0.1             # Fraction of data for validation
  augmentation:
    strength: "medium"  # medium, strong

# =========================
# Modeling configuration
# =========================
model:
  architecture: "UnetPlusPlus"
  encoder_name: "resnet101"     # Encoder backbone
  encoder_weights: "imagenet"   # Pretrained weights or None
  in_channels: 3
  classes: 1
  checkpoint_path: null #${paths.project_root}/checkpoints/best_model.pth

# =========================
# Loss function
# =========================
loss:
  type: "combined"                # "single" or "combined"
  primary: "dice"               # used if single or combined
  secondary: "focal"              # only used if combined #"bce" , "focal"
  weights: [0.6, 0.4]           # weight for [primary, secondary]
  mode: "binary"                # dice mode
  smooth: 1.0
  focal_gamma: 2.0              # used only if focal
  focal_alpha: 0.8

# =========================
# Optimization / Scheduler
# =========================
training:
  optimizer: "AdamW"              # e.g., AdamW, Adam, SGD, RMSprop
  scheduler: "CosineAnnealingWarmRestartsLR" # e.g.,ReduceLROnPlateau, CosineAnnealingLR, StepLR, etc.
  weight_decay: 1.0e-05
  scaler: true                   # Whether to use GradScaler (for mixed precision)
  batch_size: 8
  num_epochs: 100
  learning_rate: 2.0e-04 
  early_stopping_patience: 15
  early_stopping_delta: 1e-4
  monitor_metric: "val_dice" 
  gradient_accumulation_steps: 4
  use_amp: true                  # Use automatic mixed precision
  seed: 42
  device: "auto"
  checkpoint_dir: ${paths.project_root}/checkpoints
  

# =========================
# Paths
# =========================
paths:
  project_root: ${oc.env:PROJECT_ROOT,.}
  data_root: ${oc.env:DATA_ROOT,.}
  data_dir: ${paths.data_root}
  log_dir: ${paths.project_root}/logs
  
